 <div class="mb-3">
  <h5 >RENKLER</h5>
  <input type="text" [(ngModel)]="filterText" class="filterText" class="form-control" id="filterText" placeholder="Renk Arayınız">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız
</div>
<ul class="list-group">  
    
    <li (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.colorId}}"
    *ngFor="let color of colors |colorFilter:filterText"
    [class]="getCurrentColorClass(color)">{{color.colorName}}</li>   
   
</ul> 
