<h2>RENT A CAR </h2>
<h2>ARAÇ KİRALAMA</h2>

<ul class="list-group">    
    <li [class]="getAllBrandClass()" routerLink="/cars">Tüm Ürünler</li> 
    <div class="mb-3">
      <h5 >MARKALAR</h5>
      <input type="text" [(ngModel)]="filterText" class="filterText" class="form-control" id="filterText" placeholder="Marka arayınız">
    </div>
    <div *ngIf="filterText.length>2" class="alert alert-success">
      {{filterText}} aradınız
    </div>
      
    <li (click)="setCurrentBrand(brand)"      
    routerLink="/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands |brandFilter:filterText"
    [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
   
</ul> 


